<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TODO app</title>
	<!-- Adicionado fonte do google fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
	<!-- Adicionado estilo -->
	<link href="q4.css" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="container-fluid">
      <h1>TODO app</h1>
      
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome da tarefa" v-model="taskInput">
		<button v-on:click="add()">Adicionar</button>
      </div>
      
      <div class="result-container">
        <h2>To Do<span></span></h2>
        <ul class="list-group">
			<li class="list-group-item" v-for="item in todo">
				<button class="btn btn-todo" v-on:click="taskDone(item)"></button>
				{{item}}
				<a v-on:click="remove(item)">Remover</a>
			</li>
        </ul>
      </div>
      <div class="result-container">
        <h2>Done<span></span></h2>
        <ul class="list-group">
			<li class="list-group-item" v-for="item in done">
				<button class="btn btn-done" v-on:click="taskTodo(item)"></button>
				{{item}}
				<a v-on:click="remove(item)">Remover</a>
			</li>
        </ul>
      </div>
      
    </div>

	<!-- link com Vue.js -->
	<script src="https://unpkg.com/vue"></script>
	<!-- Adicionado script com arquivo js -->
	<script src="q4.js"></script>
  </body>
</html>

